.search-result {
  color: #707070;
  font-size: 14px;
  padding-top: 18px;
  text-align: center !important;
  /* margin-bottom: 0.7rem !important; */
  font-weight: 400;
}

.container_searchnotfound {
  position: relative;
  height: 100vh; /* Chiều cao toàn màn hình */
}

.container_searchnotfound h1 {
  text-align: left; /* Giữ nguyên vị trí của h1 */
}

.container_searchnotfound p {
  position: absolute;
  top: 40%; /* Căn giữa theo chiều dọc */
  left: 50%; /* Căn giữa theo chiều ngang */
  transform: translate(-50%, -50%); /* Điều chỉnh để căn giữa chính xác */
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  width: 100%;
}
