:where(.css-dev-only-do-not-override-xu9wm8).ant-input-number-sm {
    padding: 0;
    border-radius: 4px;
    width: 40px;

}

:where(.css-dev-only-do-not-override-xu9wm8).ant-input-number-sm .ant-input-number-handler-wrap {
    display: none !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-input-number .ant-input-number-handler-wrap {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    width: 22px;
    height: 100%;
    background: #ffffff;
    border-start-start-radius: 0;
    border-start-end-radius: 6px;
    border-end-end-radius: 6px;
    border-end-start-radius: 0;
    opacity: 0;
    flex-direction: column;
    align-items: stretch;
    transition: opacity 0.2s linear 0.2s;
    display: none;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-input-number .ant-input-number-input {
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: inherit;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: 0;
    border-radius: 6px;
    outline: 0;
    transition: all 0.2s linear;
    appearance: textfield;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-input-number {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: relative;
    display: inline-block;
    width: 90px;
    min-width: 0;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 3px;
    transition: all 0.2s;
    border: 1px solid #d9d9d9;
    border-top: none;
    border-bottom: none;
}