.dropdown {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 586.24px;
  z-index: 1000; /* Đảm bảo dropdown hiển thị trên cùng */
  max-height: 300px; /* Giới hạn chiều cao */
  overflow-y: auto; /* Kích hoạt cuộn dọc nếu có nhiều sản phẩm */
  margin-top: 10px;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 0px 0;
  padding: 1px 0 5px 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.dropdown-row:hover {
  background-color: #cccccc; /* Màu xám nhạt khi hover */
}

.dropdown-row img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
}

.title-box {
  background-color: #cccccc;
  padding: 5px 10px;
  margin-top: 0;
  margin: 0 0 1px;
}
